{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{guitar.img}}" alt="{{guitar.name}}" />
</div>
<div class="detail__name">
    {% if guitar.verified_guitar %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{guitar.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <div class="buttons">
    <!-- just like how we added the artist detail link we can do the same thing for update -->
    <a href="{% url 'guitar_update' guitar.pk %}" class="button is-info"> Updates
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'guitar_delete' guitar.pk %}" class="button is-danger">Delete
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    <a href="" class="button is-danger">
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{guitar.bio}}</p>
    </div>
</div>

{% endblock %}